# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [248]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [249]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [250]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [251]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
# load libraries
from xml.etree import ElementTree as ET
import pandas as pd

# load data
document = ET.parse( './data/mondial_database.xml' )

***
### QUESTION 1: 10 countries with the lowest infant mortality rates

In [2]:
# scrape names of all countries and their (where available) infant mortality rates
data = []

for country in document.iterfind('country'):
    co = country.find('name').text
    infant_mortality = country.find('infant_mortality')
    # deal with missing values for infant mortality and append each countries' data
    if infant_mortality != None:
        inf = float(infant_mortality.text)
        data.append({'country': co, 'infant_mortality': inf})

df = pd.DataFrame(data)

In [3]:
# generate rank ordered list of lowest 10 countries
df.set_index('country').sort_values('infant_mortality').head(10).reset_index()

          country  infant_mortality
0          Monaco              1.81
1           Japan              2.13
2         Bermuda              2.48
3          Norway              2.48
4       Singapore              2.53
5          Sweden              2.60
6  Czech Republic              2.63
7       Hong Kong              2.73
8           Macao              3.13
9         Iceland              3.15

***
### QUESTION 2: 10 cities with the largest population

In [4]:
# generate cities and their populations
data = []

for country in document.iterfind('country'):
    co = country.find('name').text
    for city in country.iter('city'):
        # including country name for instances where the city name is the same 
        # but located in a different countries
        ci = city.find('name').text + ', ' + co 
        for population in city.iter('population'):
            pop = '{:15,.0f}'.format(int(population.text))
            yr = population.attrib['year']
        
        # there are have mulitple years of population numbers for most cities
        # appending the data as part of the city for loop ensures that only 
        # the latest available figures are used
        data.append({'cities': ci, 'population': pop, 'year': yr})   

df = pd.DataFrame(data)

In [5]:
# sort in descending order the top 10 cities by population for latest avialable census data or estimate
df.set_index('cities').sort_values('population', ascending=False).head(10).reset_index()

              cities       population  year
0    Shanghai, China       22,315,474  2010
1   Istanbul, Turkey       13,710,512  2012
2      Mumbai, India       12,442,373  2011
3     Moskva, Russia       11,979,529  2013
4     Beijing, China       11,716,620  2010
5  São Paulo, Brazil       11,152,344  2010
6     Tianjin, China       11,090,314  2010
7   Guangzhou, China       11,071,424  2010
8       Delhi, India       11,034,555  2011
9    Shenzhen, China       10,358,381  2010

***
### QUESTION 3: 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [13]:
# generate cities and their populations
data = [] 

for country in document.findall('country'):
    for node in list(country):
        if node.tag == 'name':
            co = node.text
        elif node.tag == 'population':
            # the last listed population statistic is used
            pop = int(node.text)
            #meas = node.attrib['measured'] --leads to an error, potentially unpopulated at times
            yr = int(node.attrib['year'])
        elif node.tag == 'ethnicgroup':
            eth = node.text
            perc = float(node.attrib['percentage'])
            epop = int(pop * perc / 100.)
            
            data.append({'countries':co, 'country_pop':pop, 'year':yr,
                        'ethnicity':eth, 'country_percentage':perc, 'population':epop})
    
df = pd.DataFrame(data)

In [14]:
df.head(10)

   countries  country_percentage  country_pop    ethnicity  population  year
0    Albania                95.0      2800138     Albanian     2660131  2011
1    Albania                 3.0      2800138        Greek       84004  2011
2     Greece                93.0     10816286        Greek    10059145  2011
3  Macedonia                64.2      2059794   Macedonian     1322387  2011
4  Macedonia                25.2      2059794     Albanian      519068  2011
5  Macedonia                 3.9      2059794      Turkish       80331  2011
6  Macedonia                 2.7      2059794        Gypsy       55614  2011
7  Macedonia                 1.8      2059794         Serb       37076  2011
8     Serbia                82.9      7120666         Serb     5903032  2011
9     Serbia                 0.9      7120666  Montenegrin       64085  2011

In [15]:
df.groupby('ethnicity').population.sum().sort_values(ascending=False).head(10).reset_index()

     ethnicity  population
0  Han Chinese  1245058800
1   Indo-Aryan   871815583
2     European   494872201
3      African   318325104
4    Dravidian   302713744
5      Mestizo   157734349
6      Bengali   146776916
7      Russian   131856989
8     Japanese   126534212
9        Malay   121993548

***
### QUESTION 4: name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [3]:
root = document.getroot()
root.tag

'mondial'

In [4]:
# generate a unique list of nodes to understand what is available and where 
node_list = []
for node in list(root):
    node_list.append(node.tag)
{node:1 for node in node_list}.keys()

['mountain',
 'country',
 'lake',
 'desert',
 'airport',
 'sea',
 'island',
 'organization',
 'river',
 'continent']

In [75]:
# create a shared lookup table for country codes
country_lookup = []

for country in document.findall('country'):
    for node in list(country):
        if node.tag == 'name':   
            co = node.text
            code = country.attrib['car_code']
            
    country_lookup.append({'code':code, 'country':co}) 
        
countries = pd.DataFrame(country_lookup)
countries.head(10)

  code     country
0   AL     Albania
1   GR      Greece
2   MK   Macedonia
3  SRB      Serbia
4  MNE  Montenegro
5  KOS      Kosovo
6  AND     Andorra
7    F      France
8    E       Spain
9    A     Austria

In [59]:
# create a shared lookup table for country codes --can't get this working
import itertools

for country in document.findall('country'):
    for node in list(country):
        if node.tag == 'name':   
            code = node.text
            country = country.attrib['car_code']
        dictionary = {k: v for k, v in itertools.izip(code, country)}
dictionary

{'S': 'S', 'e': 'Y'}

#### QUESTION 4.a)  name and country of longest river

In [12]:
# explore the features available
node_list = []
for element in document.findall('river'):
    for node in list(element):
        node_list.append(node.tag)
{node:1 for node in node_list}.keys()

['located', 'name', 'estuary', 'to', 'area', 'source', 'length', 'through']

In [143]:
# generate list of rivers and their lengths
data = [] 

for element in document.findall('river'):
    # first listed country used since the river can run though multiple countries
    code = element.attrib['country'].split(' ')[0]
    for node in list(element):
        if node.tag == 'name':
            river = node.text
        elif node.tag == 'length':
            length = float(node.text)

            data.append({'country_code': code, 'river':river, 'length':length})
    
rivers = pd.DataFrame(data)

rivers.head()

  country_code  length                river
0           IS     230              Thjorsa
1           IS     206  Joekulsa a Fjoellum
2            N     604               Glomma
3            N     322                Lagen
4            S      93            Goetaaelv

In [144]:
# bring in country names
df = pd.merge(rivers, countries, how='left', left_on='country_code', right_on='code')
df.sort_values('length', ascending=False).head()

    country_code  length     river code   country
174           CO    6448  Amazonas   CO  Colombia
137           CN    6380   Jangtse   CN     China
136           CN    4845   Hwangho   CN     China
123            R    4400      Lena    R    Russia
201          RCB    4374     Zaire  RCB     Congo

In [145]:
# The longest river
longest = df.groupby(['country', 'river']).length.max().sort_values(ascending=False).head(1).reset_index()

print('The longest river in the world is the ' + longest['river'][0] +
      ' and crosses ' + longest['country'][0] +
      ' with a length of ' + str('{:5,.0f}'.format(int(longest['length'][0]))) + ' kilometers')

The longest river in the world is the Amazonas and crosses Colombia with a length of 6,448 kilometers

#### QUESTION 4.b) name and country of largest lake

In [105]:
# explore the features available
node_list = []
for element in document.findall('lake'):
    for node in list(element):
        node_list.append(node.tag)
{node:1 for node in node_list}.keys()

['elevation',
 'name',
 'area',
 'longitude',
 'located',
 'depth',
 'latitude',
 'to']

In [152]:
# generate list of lakes and their areas
data = [] 

for element in document.findall('lake'):
    # first listed country used since the river can run though multiple countries
    code = element.attrib['country'].split(' ')[0]
    for node in list(element):
        if node.tag == 'name':
            lake = node.text
        elif node.tag == 'area':
            area = float(node.text)

            data.append({'country_code': code, 'lake':lake, 'area':area})
    
lakes = pd.DataFrame(data)

lakes.head()

   area country_code        lake
0  1040           SF       Inari
1   928           SF  Oulujaervi
2   472           SF   Kallavesi
3  4370           SF      Saimaa
4  1118           SF  Paeijaenne

In [153]:
# bring in country names
df = pd.merge(lakes, countries, how='left', left_on='country_code', right_on='code')
df.sort_values('area', ascending=False).head()

       area country_code           lake code        country
54   386400            R    Caspian Sea    R         Russia
107   82103          CDN  Lake Superior  CDN         Canada
79    68870          EAT  Lake Victoria  EAT       Tanzania
104   59600          CDN     Lake Huron  CDN         Canada
106   57800          USA  Lake Michigan  USA  United States

In [151]:
# The largest lake
largest = df.groupby(['country', 'lake']).area.max().sort_values(ascending=False).head(1).reset_index()

print('The largest lake in the world by surface area is the ' + largest['lake'][0] +
      ' (' + largest['country'][0] +
      ') with a length of ' + str('{:5,.0f}'.format(int(largest['area'][0]))) + ' square kilometers')

The largest lake in the world by surface area is the Caspian Sea (Russia) with a length of 386,400 square kilometers

#### QUESTION 4.c) name and country of the airport at highest elevation

In [154]:
# explore the features available
node_list = []
for element in document.findall('airport'):
    for node in list(element):
        node_list.append(node.tag)
{node:1 for node in node_list}.keys()

['elevation', 'name', 'located_on', 'longitude', 'latitude', 'gmtOffset']

In [163]:
# generate list of airports and their elevation
data = [] 

for element in document.findall('airport'):
    # first listed country used since the river can run though multiple countries
    code = element.attrib['country'].split(' ')[0]
    for node in list(element):
        if node.tag == 'name':
            airport = node.text
        elif node.tag == 'elevation':
            if node.text is not None:
                elevation = int(node.text)

            data.append({'country_code': code, 'airport':airport, 'elevation':elevation})
    
airports = pd.DataFrame(data)

airports.head()

                airport country_code  elevation
0                 Herat          AFG        977
1            Kabul Intl          AFG       1792
2          Tirana Rinas           AL         38
3  Cheikh Larbi Tebessi           DZ        811
4         Batna Airport           DZ        822

In [164]:
# bring in country names
df = pd.merge(airports, countries, how='left', left_on='country_code', right_on='code')
df.sort_values('elevation', ascending=False).head()

             airport country_code  elevation code  country
80      El Alto Intl          BOL       4063  BOL  Bolivia
219    Lhasa-Gonggar           CN       4005   CN    China
241     Yushu Batang           CN       3963   CN    China
242   Anqing Airport           CN       3963   CN    China
243  Changde Airport           CN       3963   CN    China

In [167]:
# The most evelated airport
highest = df.groupby(['country', 'airport']).elevation.max().sort_values(ascending=False).head(1).reset_index()

print('The most elevated airport in the world is the ' + highest['airport'][0] +
      ' in ' + highest['country'][0] +
      ' with a height of ' + str('{:5,.0f}'.format(int(highest['elevation'][0]))) + ' meters')

The most elevated airport in the world is the El Alto Intl in Bolivia with a height of 4,063 meters